RewriteEngine On

# ON EXCLUT LES FICHIERS DANS LE NAVIGATEUR  => TOUT NOM DE FICHIER SAISI DANS LE NAVIGATEUR SERA REDIRIGE VERS L'index.php
RewriteCond %{REQUEST_FILENAME} !-f
# ON EXCLUT LES REPERTOIRES DANS LE NAVIGATEUR  => TOUT NOM DE REPERTOIRE SAISI DANS LE NAVIGATEUR SERA REDIRIGE VERS L'index.php
RewriteCond %{REQUEST_FIELENAME} !-l
# $1 => STOCKE CE QUI SERA SAISI DANS L'URL
# (.+)$ => LORSQUE QU'UN OU PLUSIEURS CARACTERES EST SAISI
# ON REDIRIGE VERS L'index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]